#bandeau {
  width: 100%;
  height: auto;
}

#formInfo {
  font-size: 0.75rem;
}

#passwordInfo {
  font-size: 0.70rem;
}

#cbInfo {
  font-size: 0.70rem;
}

#submitForm {
  display: block;
  margin: auto;
}
