/* CSS du formulaire d'inscription */

#formInfo {
  font-size : 0.75rem;
}

#passwordInfo {
  font-size: 0.70rem;
}

#cbInfo {
  font-size: 0.70rem;
}

#submitForm {
  display: block;
    margin : auto;
}
